<div class = 'row'>
  <div class = 'col-11 mx-auto'>
    <table class = 'table'>
      <thead>
        <tr class = 'text-center'>
          <th>ID</th>
          <th>ユーザー</th>
          <th>コメント</th>
          <th>投稿日時</th>
          <th>投稿タイトル</th>
          <th></th>
    
    
          
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.user.id %></td>
            <td><%= comment.user.name %></td>
            <td><%= comment.comment %></td>
            <td><%= comment.created_at.strftime('%Y-%m-%d %H:%M')  %></td>
            <td><%= comment.post.title %></td>
    
    
            <td><%= link_to '削除', admin_comment_path(comment, comment.post), method: :delete %></td>
            <td></td>
          </tr>
    
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>







