<%= form_with model: post do |f| %>
  <div  class = 'row'>
    <div class = 'col-4'>
      <div class = 'field'>
        <%= f.label :title, 'タイトル' %><br>
        <%= f.text_field :title %>
      </div>

      <div class = 'field'>
        <%= f.label :body, 'コメント' %><br>
        <%= f.text_area :body %>
      </div>


     <div class = 'field'>
        <%= f.date_field :start_date %>
        <%= f.date_field :end_date %>
      </div>

      <%= f.collection_check_boxes(:prefecture_ids, Prefecture.all, :id, :name) do |pref| %>
      
        <%= pref.check_box %>
        <%= pref.text %>
      <% end %>


     
    </div>

    <div class = col-8>
      <div class = 'schedules'>
        <%= f.fields_for :schedules do |schedule| %>
          <%= render 'schedule_fields', f: schedule %>
        <% end %>

        
      </div>

      <div class = 'submit-button'>
        <%= f.submit '投稿' %>
      </div>
    </div>
  </div>
<% end %>

