<% if posts.count == 0 %>
  <div class = 'row'>
    <div class = 'col-12'>
      <h4 class = 'mt-5 text-center'>まだ投稿がありません。</h4>
    </div>
  </div>
<% end %>

<% if posts.count != 0 %>
  <%= page_entries_info @posts %>
<% end %>

<% posts.each do |post| %>
  <div class = 'row'>
    <div class = 'col-12 border border-dark p-3 mb-4 post-block'>
      <div class = 'row'>
        <div class = 'col-2 col-md-1'>
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.get_profile_image(50, 50), class: 'rounded-circle border' %>
          <% end %>
        </div>
        <div class = 'col-8 col-md-4'>
          <%= post.user.name %><br>
          <%= "投稿日：" + post.created_at.strftime('%Y月%m日%d日') %>
        </div>
  
        <div class = 'col-12 col-md-7 mt-2 text-right'>
          <% post.prefecture_relations.each do |pref| %>
            <span class = 'border border-dark p-1 mx-1'><%= pref.prefecture.name %></span>
          <% end %>
        </div>
      </div>
  
      <div class = 'row mt-3'>
        <div class = 'col-12'>
          <h4><%= post.title %></h4>
        </div>
      </div>
      <div class = 'row'>
        <div class = 'col-12'>
          <p><%= safe_join(post.body.split("\n"),tag(:br)) %></p>
          <p><%= post.start_date.strftime('%Y月%m日%d日') %> 〜　<%= post.end_date.strftime('%Y月%m日%d日') %></p>
        </div>
      </div>
  
      <div class = 'row'>
        <div class = 'col-12' id = 'post-<%= post.id %>'>
          <span class = 'favorite-btn'>
            <%= render 'public/favorites/btn', post: post %>
          </span>
          <span class = 'comments-count'>
            <i class="fa-regular fa-comment"> </i><%= post.comments.count %>
          </span>
        </div>
  
        <div class = 'col-6 pt-3'>
          <% if post.user == current_user %>
            <% if post.status == 1 %>
             <span class = 'border text-danger border-danger p-1'>下書き</span>
            <% end %>
          <% end %>
        </div>
  
        <div class = 'col-6 text-right'>
          <%= link_to '詳細', post_path(post.id), class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @posts %>
