<div class = 'row'>
  <div class = 'col-11 col-md-9 mx-auto border border-dark border-dark post-show px-5 py-5'>

    <div class = 'row'>
      <div class = 'col-12'>
      <h2><%= @post.title %></h2>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-12'>
      <p><%= safe_join(@post.body.split("\n"),tag(:br)) %></p>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-12'>
        <%= image_tag @post.user.get_profile_image(30, 30), class: 'rounded-circle border' %>
        <%= @post.user.name %>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-4' style = 'margin-left: 40px;' id = 'post-<%= @post.id %>'>
        <span class = 'favorite-btn'>
          <%= render 'public/favorites/btn', post: @post %>
        </span>

        <span class = 'comments-count', style = 'cursor: pointer', onclick = 'comment()' >
          <%= render 'public/comments/counter', post: @post %>
        </span>
      </div>
    </div>


    <div class = 'row'>

      <div class = 'col-12 mt-2' style = 'margin-left: 30px;'>
        <% @post.prefecture_relations.each do |pref| %>
          <span class = 'border p-1 mx-1'><%= pref.prefecture.name %></span>
        <% end %>
      </div>
    </div>

    <% @post.schedules.each do |schedule| %>
      <div class = 'row '>
        <div class = 'col-12 mt-5'>
          <h2><%=schedule.date.strftime('%Y年 %m月 %d日') %></h2>
        </div>
      </div>

      <% schedule.spots.each do |spot| %>
        <div class = 'row mx-auto mt-5'>
          <div class = 'col-12 col-lg-6 border-left border-dark border-dark'>
            <%= spot.arriving_time.strftime('%H:%M') %>

            <div class = 'image ml-2'>
              <%= image_tag spot.get_spot_image(380,267), class: 'img-fluid' %>
            </div>
              <%= spot.leaving_time.strftime('%H:%M') %>
          </div>

          <div class = 'col-12 col-lg-6'>
            <h3><%= spot.name %></h3>
            <%= safe_join(spot.comment.split("\n"),tag(:br)) %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class = 'row mt-5'>
      <h2>コメント</h2>
    </div>

    <div class = 'row'>
      <div class = 'col-12 post-comments'>
        <%= render 'public/comments/index', post: @post %>
      </div>
      <div class = 'col-12'>
        <%= render 'public/comments/form' %>
      </div>
    </div>
  </div>
</div>


<div class = 'row my-4'>
  <div class = 'col-12 col-md-9 mx-auto'>
    <div class = 'row'>
      <% if @post.user == current_user %>
        <div class = 'col-6'>
          <%= link_to '編集', edit_post_path(@post), class: 'btn btn-success btn-block rounded-pill col-6 mx-auto' %>
        </div>
        <div class = 'col-6'>
          <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: "タイトル「#{@post.title}」を削除します。"}, class: 'btn btn-danger btn-block rounded-pill col-6 mx-auto' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function comment(){
    let elment = document.documentElement;
    let bottom = elment.scrollHeight - elment.clientHeight;
    window.scroll(0, bottom);
  }
</script>