
<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<% @post.prefecture_relations.each do |pref| %>
  <span><%= pref.prefecture.name %></span>
<% end %>



<div>
  <% @post.schedules.each do |schedule| %>
    <h2>
      <%=schedule.date.strftime('%Y年 %m月 %d日') %>
    </h2>


  <div class = 'schedule-block'>
    <% schedule.spots.each do |spot| %>
  <div class = 'time mb-5 border-left border-5'>
    <%= spot.arriving_time.strftime('%H:%M') %>
    <div class = 'row spot'>
      <div class = 'col-4 ml-3 spot-image'>
    <%= image_tag spot.get_spot_image(300,150) %> </div>

    <div class = 'col-4 spot-info'><h3><%= spot.name %></h3>
    <p><%= spot.comment %></p></div>

    </div>
    <%= spot.leaving_time.strftime('%H:%M') %>
  </div>

  <% end %>


  </div>
</div>



<% end %>

<p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>

<%= form_with model: [@post, @post_comment] do |f| %>
  <%= f.text_area :comment, row: '5' %>
  <%= f.submit '投稿する' %>

<% end %>





