
<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<% @post.prefecture_relations.each do |pref| %>
  <span><%= pref.prefecture.name %></span>
<% end %>



<div class = 'card'>
  
    <% @post.schedules.each do |schedule| %>
    <div class = 'card-header'>
  <%=schedule.date %>
    
  </div>
  
  




    <% schedule.spots.each do |spot| %>
      <%= spot.name %>
      <%= spot.comment %>

    <% end %>

<% end %>
  
  
</div>


