<div class = 'col-10 mx-auto'>

  <div class = 'row'>
    <h1><%= @post.title %></h1>
  </div>
  <div class = 'row'>
    <p><%= @post.body %></p>
  </div>

  <div class = 'row mb-4'>
    <div class = 'col-3'>
      <%= image_tag @post.user.get_profile_image(30, 30), class: 'rounded-circle border' %>
      <%= @post.user.name %>
    </div>

    <div class = 'col-7'>
      <% @post.prefecture_relations.each do |pref| %>
        <span><%= pref.prefecture.name %></span>
      <% end %>
    </div>
  </div>

  <div class = 'row'>
    <div class = 'col-1'>
      <%= render 'public/favorites/btn', post: @post %>
    </div>
    <div class = 'col-1' style = 'cursor: pointer', onclick = 'comment()' >
      <i class="fa-regular fa-comment"> </i><%= @post.comments.count %>
    </div>
  </div>



  <% @post.schedules.each do |schedule| %>
    <div class = 'row' >
      <h2><%=schedule.date.strftime('%Y年 %m月 %d日') %></h2>
    </div>



  <% schedule.spots.each do |spot| %>
      <div class = 'time border-left mb-5 pl-3 border-5'>
        <%= spot.arriving_time.strftime('%H:%M') %>
        <div class = 'row'>
          <div class = 'col-4 ml-3 spot-image'>
            <%= image_tag spot.get_spot_image(300,200) %>
          </div>
          <div class = 'col-7 spot-info'>
            <h3><%= spot.name %></h3>
            <p><%= spot.comment %></p>
          </div>


        </div>
        <%= spot.leaving_time.strftime('%H:%M') %>
      </div>
  <% end %>













  <% end %>

  <% @post.comments.each do |comment| %>


  <div class = 'row'>
  <div class = 'col-1'>
  <%= image_tag comment.user.get_profile_image(30,30), class: 'rounded-circle border' %>
  </div>
  <div class = 'col'>
  <div class = 'row'>
  <div class = 'col-'>

  <%= comment.user.name %>
  </div>

  <div class = 'col'>
  <%= comment.created_at.strftime('%Y-%m-%d %H:%M') %>

  </div>
  </div>
  <div class = 'row'>
  <%= comment.comment %>
  <% if comment.user == current_user %>
  <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
  <% end %>
  </div>

  </div>



  </div>



  <% end %>



  <%= form_with model: [@post, @post_comment] do |f| %>
  <%= f.text_area :comment, rows: '3' %>
  <%= f.submit '投稿する' %>

  <% end %>



</div>





<script>

function comment(){

  let elm = document.documentElement;

  // scrollHeight ページの高さ clientHeight ブラウザの高さ
  let bottom = elm.scrollHeight - elm.clientHeight;

  // 垂直方向へ移動
  window.scroll(0, bottom);

}

</script>