<% post.comments.each do |comment| %>
  <div class = 'row border-top border-dark pt-2'>
  <div class = 'col-1'>
    <%= image_tag comment.user.get_profile_image(35,35), class: 'rounded-circle border' %>
  </div>
  <div id = 'post-<%= post.id %>' class = 'col-11'>
    <div class = 'row'>
      <div class = 'col-12'>
        <%= comment.user.name %>
      </div>

    </div>
    <div class = 'row'>
      <div class = 'col-12 col-md-10'>
        <%= safe_join(comment.comment.split("\n"),tag(:br)) %>
      </div>
      <div class = 'col-12 col-md-2'>
         <% if comment.user == current_user || admin_signed_in? %>
          <%= link_to "削除", post_comment_path(comment.post, comment), remote: true, method: :delete, class: 'btn btn-sm btn-danger' %>
        <% end %>
      </div>


    </div>
    <div class = 'row'>
      <div class = 'col-12 mt-2 mb-1 text-right'>
        <%= comment.created_at.strftime('%Y-%m-%d %H:%M') %>
      </div>
    </div>
  </div>
  </div>
<% end %>