<div class = 'row mb-4'>
  <div class = 'col-12 p-2 border border-dark user-info'>
    <div class = 'row'>
      <div class = 'col-12'>
        <%= image_tag user.get_profile_image(70, 70), class: 'rounded-circle border' %>
        <%= user.name %>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-12'>
        <% if user.introduction.nil? %>
          <%= user.introduction %>
        <% else %>
          <%= safe_join(user.introduction.split("\n"),tag(:br))%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class = 'col-12'>
    <%= link_to '投稿一覧', admin_user_path(@user), class: 'btn btn-success btn-block col-12' %>
    <%= link_to 'コメント一覧', admin_comment_path(@user), class: 'btn btn-info btn-block col-12' %>
  </div>
</div>

<div class = 'row mt-3 mb-5'>
  <table class = 'table table-borderless mt-3'>
    <tbody>
      <tr class = 'text-center'>
        <th>ステータス</th>
        <td><%= @user.is_deleted ? '退会':'有効' %></td>
        <td>
          <% if @user.is_deleted %>
            <%= link_to '有効にする', admin_user_path(@user.id, user: {is_deleted: false}), data: { confirm: "ユーザー名「#{@user.name}」を有効にします。" }, method: :patch, class: 'btn btn-success btn-sm' %>
          <% else %>
            <%= link_to '退会させる', admin_user_path(@user.id, user: {is_deleted: true}), data: { confirm: "ユーザー名「#{@user.name}」の退会処理を行います。" }, method: :patch, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
