<div class = 'row'>
  <div class = 'col-11 mx-auto'>

  <table class = 'table'>
    <thead>
      <tr class = 'text-center'>
        <th>ID</th>
        <th>ユーザー</th>
        <th>自己紹介</th>
        <th>投稿</th>
        <th>コメント</th>
        <th>ステータス</th>
        
        <th></th>
      
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td class = 'text-center'><%= user.id %></td>

        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
        <td class = 'text-center'><%= link_to user.posts.count, admin_user_path(user) %></td>
        <td class = 'text-center'><%= user.comments.count %></td>

        <td class = 'text-center'>
          <% if user.is_deleted == false %>
            <p>有効</p>
          <% else %>
            <p>退会</p>
          <% end %>
        </td>

        <td><%= link_to '詳細', admin_user_path(user) %></td>
        

      </tr>
      <% end %>
    </tbody>



  </table>

  </div>
</div>


