<div class = 'row'>
  <div class = 'col-10 mx-auto admin-table-wrap'>
    <h2>ユーザー一覧</h2>
    <table class = 'table table-bordered admin-table'>
      <thead>
        <tr class = 'text-center'>
          <th class = 'col-1'>ID</th>
          <th class = 'col-2'>ユーザー</th>
          <th class = 'col-4'>自己紹介</th>
          <th class = 'col-1'>投稿</th>
          <th class = 'col-1'>コメント</th>
          <th class = 'col-2'>ステータス</th>
          <th class = 'col-1'></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class = 'text-center'><%= user.id %></td>
            <td class = 'text-center'><%= user.name %></td>
            <td><%= user.introduction %></td>
            <td class = 'text-center'><%= user.posts.where(status: 0).count %></td>
            <td class = 'text-center'><%= user.comments.count %></td>
            <td class = 'text-center'>
              <% if user.is_deleted %>
                <p class = 'm-0'>退会</p>
              <% else %>
                <p class = 'text-success m-0'>有効</p>
              <% end %>
            </td>
            <td class = 'text-center'><%= link_to '詳細', admin_user_path(user), class: 'btn btn-sm btn-secondary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>
</div>


