<div class = 'row'>
  <div class = 'col-11 mx-auto'>
    <div class = 'row'>
      <div class = 'col-3'>
        <%= render 'public/users/info', user: @user %>
        <div class = 'row'>
          <p>ステータス：<%= @user.is_deleted ? '退会':'有効' %></p>
        </div>
          
      </div>
      
      <div class = 'col-8 ml-5'>
        <table class = 'table'>
          <thead>
            <tr>
              <th class = 'col-1 text-center'>ID</th>
              <th class = 'col-3 text-center'>投稿日時</th>
              <th class = 'text-center'>タイトル</th>
              <th class = 'col-1'></th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
            <tr>
              <td class = 'text-center'><%= post.id %></td>
              
              <td class = 'text-center'><%= post.created_at.strftime('%Y-%m-%d %H:%M') %> </td>
              <td><%= post.title %></td>
              <td><%= link_to '詳細', admin_post_path(post) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  
  
  </div>
</div>