<div class = 'row mb-4'>
  <div class = 'col-12 p-2 border border-dark p-2 user-info'>
    <div class = 'row'>
      <div class = 'col-12'>
        <%= image_tag user.get_profile_image(50, 50), class: 'rounded-circle border' %>
        <%= user.name %>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-12 py-3'>
        <% if user.introduction.nil? %>
          <%= user.introduction %>
        <% else %>
          <%= safe_join(user.introduction.split("\n"),tag(:br))%>
        <% end %>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-12 text-right'>
        <% if user == current_user %>
          <%= link_to '編集', edit_user_path(user), class: 'btn btn-sm btn-outline-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

