<div class = 'row'>
  <div class = 'col-7 mx-auto'>
    <div class = 'card'>
      <h1 class = 'card-header text-center'>登録情報編集</h1>

      <%= form_with model: @user do |f| %>
        <div class = 'row mt-3'>
          <div class = 'col-5 mx-auto'>
            <%= f.label :name, 'ユーザーネーム', class: 'form-label' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class = 'row mt-3'>
          <div class = 'col-5 mx-auto'>
            <%= f.label :introduction, '自己紹介', class: 'form-label' %>
            <%= f.text_area :introduction, class: 'form-control' %>
          </div>
        </div>

        <div class = 'row mt-3'>
          <div class = 'col-5 mx-auto'>
            <%= f.label :profile_image, class: 'form-label' %>
            <%= f.file_field :profile_image, accept: "image/*", class: 'form-control' %>
          </div>
        </div>

        <div class = 'row my-5'>
          <%= f.submit '編集内容を保存', class: 'col-4 mx-auto' %>
        </div>
      <% end %>
    </div>
  </div>
</div>