<div class = 'row'>
  <div class = 'col-11 mx-auto'>
    <div class = 'row'>
      <div class = 'col-12 text-right'>
        <% if current_user == @user %>
          <%= form_with url: user_path(@user), method: :get do |f| %>
            <%= f.select :search, options_for_select([['すべての投稿'], ['公開中の投稿'],['下書き']], @search), class: 'form-control' %>
            <%= f.submit '表示', class: 'btn btn-sm btn-secondary' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-12 col-md-3 mx-auto'>
        <h4>マイページ</h4>
        <%= render 'info', user: @user %>
      </div>
      <div class = 'col-12 col-md-8 mx-auto mb-5'>
        <%= render 'public/posts/index', posts: @posts %>
      </div>
    </div>
  </div>
</div>