<!DOCTYPE html>
<html>
  <head>
    <title>TripWith</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/61a5e03dba.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main>
      <div class = 'container-fluid pt-3 pb-5'>
        <% if flash[:notice] %>
          <p class = 'alert alert-success text-center'><%= notice %></p>
        <% elsif flash[:alert] %>
          <p class = 'alert alert-danger text-center'><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
    </main>

    <%= render 'layouts/footer' %>

  </body>
</html>
